<html>
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.4/dist/js/uikit-icons.min.js"></script>
</header>

<body>
    <div class="uk-cover-container uk-height-viewport">

        <%@ cover { %>

        <% } %>

        <nav class="uk-navbar-container" uk-navbar style="position: fixed; top: 0; right: 0; width: 100%;">

            <%@ nav { %>

            <% } %>

        </nav>

        <%@ body { %>

        <% } %>
    </div>
</body>

</html>