<%: func History(exams []databaselayer.Exam, w io.Writer) %>

<%!
    import (
        "strconv"
        "fmt"
    )

    func UIntToStr(i uint)string{
        return fmt.Sprint(i)
    }


%>

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>پنل مدیریت</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/assets/img/core-img/favicon.png">

    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="/static/assets/css/default-assets/notification.css">

    <link rel="stylesheet" href="/static/assets/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="ctn-preloader" class="ont-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="موتریلا" class="letters-loading">
                        موتریلا
                    </span>
                </div>
                <p class="text-center">بارگذاری</p>
            </div>

            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader -->


    <!-- Setting Panel -->
    <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings font-17"></i></div>
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close zmdi zmdi-close font-18 font-weight-bold"></i>
            <p class="settings-heading font-18">رنگ منوی جانبی:</p>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                <div><span class="font-14 font-weight-bold">پیش فرض</span></div>
            </div>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
                <div><span class="font-14 font-weight-bold">روشن</span></div>
            </div>
            <div class="sidebar-bg-options" id="sidebar-color-theme">
                <div><span class="font-14 font-weight-bold">رنگارنگ</span></div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        <div class="ecaps-sidemenu-area">
            <!-- Desktop Logo -->
            <div class="ecaps-logo">
                <a href="index.html"><img class="desktop-logo" src="/static/assets/img/core-img/logo.png"
                        alt="لوگوی دسک تاپ"> <img class="small-logo" src="/static/assets/img/core-img/small-logo.png"
                        alt="آرم موبایل"></a>
            </div>

            <!-- Side Nav -->
            <div class="ecaps-sidenav" id="ecapsSideNav">
                <!-- Side Menu Area -->
                <div class="side-menu-area">
                    <!-- Sidebar Menu -->
                    <nav>
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="active"><a href="/dashboard"><i
                                        class="zmdi zmdi-view-dashboard"></i><span>داشبورد</span></a></li>
                            <li class="active"><a href="/createexam"><i class="zmdi zmdi-view-dashboard"></i><span>ساخت
                                        آزمون</span></a></li>
                            <li class="active"><a href="/takeexam"><i class="zmdi zmdi-view-dashboard"></i><span>شرکت
                                        در ازمون</span></a></li>
                            <li class="active"><a href="/history"><i
                                        class="zmdi zmdi-view-dashboard"></i><span>تاریخچه</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo mr-3 mr-sm-4">
                        <a href="index.html"><img src="img/core-img/small-logo.png" alt="آرم موبایل"></a>
                    </div>

                    <!-- Triggers -->
                    <div class="ecaps-triggers mr-1 mr-sm-3">
                        <div class="menu-collasped" id="menuCollasped">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                        <div class="mobile-menu-open" id="mobileMenuOpen">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Content Area -->
            <div class="main-content">
                <div class="dashboard-area">
                    <div class="container-fluid">
                        <div class="col-12 box-margin">
                            <div class="contact-form-area">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>نام آزمون</th>
                                                        <th>زمان</th>
                                                        <th>نوع</th>
                                                        <th>مشاهده</th>
                                                        <th>نتایج</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for _, exam := range exams { %>
                                                    <tr>
                                                        <td class="text-bold-500"><%= exam.Name %></td>
                                                        <td><%= exam.Name %></td>
                                                        <% if exam.Public { %>
                                                        <td>عمومی</td>
                                                        <% } %>
                                                        <% if !exam.Public { %>
                                                        <td>خصوصی</td>
                                                        <% } %>
                                                        <td>
                                                            <a href="/examdetail/<%== UIntToStr(exam.ID) %>">
                                                                <div class="btn btn-info btn-circle">
                                                                    <i class=" zmdi zmdi-folder-outline "></i>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/results/<%== UIntToStr(exam.ID) %>">
                                                                <div class="btn btn-info btn-circle">
                                                                    <i class=" zmdi zmdi-assignment-o "></i>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bundle.js"></script>
    <script src="/static/assets/js/default-assets/date-time.js"></script>
    <script src="/static/assets/js/default-assets/setting.js"></script>
    <script src="/static/assets/js/default-assets/bootstrap-growl.js"></script>

    <!-- Active JS -->
    <script src="/static/assets/js/default-assets/active.js"></script>

    <!-- These plugins only need for the run this page -->



    <script src="/static/assets/js/default-assets/basic-form.js"></script>
    <script src="/static/assets/js/default-assets/gauge.js"></script>
    <script src="/static/assets/js/default-assets/serial.js"></script>
    <script src="/static/assets/js/default-assets/light.js"></script>

</body>

</html>