<%: func TakeExamCode(wrong bool, w io.Writer) %>

<%~ "index.html" %>

<%@ nav { %>
<div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Logo</a>
</div>

<div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
        <li><a href="/history">تاریخچه</a></li>
        <li><a href="/takeexam">شرکت در آزمون</a></li>
        <li><a href="/createexam">برگذاری آزمون</a></li>
        <li><a href="/dashboard">خانه</a></li>
    </ul>

</div>
<% } %>

<%@ body { %>
<div class="uk-card uk-card-default uk-card-body" style="margin-top: 100px;">

    <% if wrong { %>
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>شما اجازه ی شرکت در این آزمون را ندارید. لطفا از بخش شرکت در آزمون دوباره اقدام کنید.</p>
    </div>
    <% } %>

    <% if !wrong { %>
    <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2020-05-13T15:18:49+00:00">
        <div>
            <div class="uk-countdown-number uk-countdown-days"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-hours"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-minutes"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-seconds"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
        </div>
    </div>
    <% } %>

    <form method="POST">
        <fieldset class="uk-fieldset">
            <div class="uk-margin" style="direction: rtl;">
                <input name="exam_code" class="uk-input" type="text" placeholder="کد آزمون">
                <div style="margin-top: 20px;;">
                    <h6>پسورد آزمون را وارد کنید - در صورتی که آزمون شمابدون پسورد میباشد آن را خالی بگذارید</h6>
                    <input name="password" class="uk-input" type="password" placeholder="رمز آزمون">
                </div>
            </div>

            <div class="uk-margin">
                <input type="submit" class="uk-button uk-button-secondary" value="شرکت در آزمون">
            </div>

        </fieldset>
    </form>
</div>
<% } %>